<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rosa Forum</title>
</head>
<body class="diff">
    
    <section class="main-part">
        <div class="est-setting">
            <div class="userProfile">
                <img src="{{session['user'][3]}}" alt="" class="useravatar">
                <p class="username">{{session["user"][1]}}</p>
            </div>
            <div class="navigation-menu">
                <a href="{{url_for('home_page')}}" class="main-forum-page">Accueil</a>
                <a href="" class="forum-navigation">Naviguez</a>
            
            </div>
            <div class="bottom_title">
                <h1 class="est-title">RosaForum*</h1>
                <p class="est-title-info">*Non affilié au Lycée Rosa Parks</p>
            </div>
        </div>

        <div class="middle-suggest">
            {%if postit==true%}
            <div class="post" style="border-bottom:1px rgba(0, 0, 0, 0.30) solid;">
                <div class="messprof">
                    <img src="{{messages[4]}}" alt="" class="useravatar plus">
                    <p class="username">{{messages[1]}}</p>
                </div>
                <p class="messcontent">{{messages[3]}}</p>
                <p class="messtime">{{messages[2]}}</p>
            </div>

            {% endif %}
            <div class="user-interaction">
                <div class="userprofil">
                    <img src="{{session['user'][3]}}" alt="" class="useravatar">
                </div>
                <form action="{{url_for('send')}}" method="post" class="send-post">
                    <textarea id="post-input" name="messagecontent" placeholder="Quelque chose a nous dire ?" required maxlength="390" minlength="5" cols="30" rows="5"></textarea>
                    {% if postit %}
                    <input type="hidden" name="resp" value="{{messages[0]}}">
                    {% endif %}
                    <input type="submit" value="Post" id="postit">
                </form>
            </div>

            <div class="messages-bloc">
                {% if not postit %}
                {% for message in messages %}
                <a href="?post={{message[0]}}">
                    <div class="post">
                        <div class="messprof">
                            <img src="{{message[4]}}" alt="" class="useravatar plus">
                            <p class="username">{{message[1]}}</p>
                        </div>
                        <p class="messcontent">{{message[3]}}</p>
                        <p class="messtime">{{message[2]}}</p>
                    </div>
                </a>
                {% endfor %}
                
                {%else%}
                {% for message in messages_resp %}
                <a href="?post={{message[0]}}">
                    <div class="post">
                        <div class="messprof">
                            <img src="{{message[4]}}" alt="" class="useravatar plus">
                            <p class="username">{{message[1]}}</p>
                        </div>
                        <p class="messcontent">{{message[3]}}</p>
                        <p class="messtime">{{message[2]}}</p>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="west-tendance">
            <h2 class="tendance-title">{{postit}}Tendances</h2>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
            <div class="tendance">
                <p class="t-title">J’ai mangé un abricot</p>
                <p class="rep">253 réponses</p>
            </div>
        </div>
    </section>

</body>
</html>