<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rosa Forum</title>
</head>
<body>
    
    <section class="main-part">
        <div class="est-setting">
            <div class="userProfile">
                <img src="" alt="" class="auth-avatar">
                <p class="auth-name">{{session["user"][1]}}</p>
            </div>
            <div class="profil-barre"></div>
            <a href="" class="main-forum-page">Accueil</a>
            <a href="" class="forum-navigation">Naviguez</a>
            <div class="bottom_title">
                <h1 class="est-title">RosaForum*</h1>
                <p class="est-title-info">*Non affilié au Lycée Rosa Parks</p>
            </div>
        </div>

        <div class="middle-suggest">

        </div>

        <div class="west-tendance">

        </div>
    </section>

</body>
</html>