<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rosa Forum</title>
</head>
<body>
    
    <nav class="nav-bar">
        <div class="left-title-elt">
            <h1 class="left-title">Rosa Forum<b>*</b></h1>
            <p class="disclaimer-rosa">*Non affilié au Lycée Rosa Parks</p>
        </div>

        <div class="middle-nav-btn">
            <a href="#" class="home">Accueil</a>
            <a href="#" class="navigation-btn">Naviguez</a>
        </div>

        <div class="right-login-btn">
            <a href="#" class="login-btn">Connexion</a>
        </div>

    </nav>


    <section class="middle-welcome">
        <p class="welcome-text">Ouvrez un sujet de discussion chez Rosa Forum <br><br>
            Commencez a discutez de tout, faites vous des amis et profités...</p>
        
        <a href="#" class="signin-btn">Créer un compte</a>
        
        <div class="post-bloc">
            <img src="../near-tibet.png" alt="" class="auth-avatar">
            <p class="auth-name">FleurDeMontagne225</p>
            <p class="auth-messageContent">Salut les gars, j’ai trouvé le Bac blanc super dur pas vous ? 😕</p>
            <span class="datetime">09/02/24</span>
        </div>
        <div class="post-bloc">
            <img src="../monalisa.png" alt="" class="auth-avatar">
            <p class="auth-name">LaJoequ-onde</p>
            <p class="auth-messageContent">Oui mais clairement ! Cette année ils n’ont pas chômé ahah 😂</p>
            <span class="datetime">09/02/24</span>
        </div>
        <div class="post-bloc">
            <img src="../burger.png" alt="" class="auth-avatar">
            <p class="auth-name">NoIdeaForAName</p>
            <p class="auth-messageContent">Qui pense qu’au lycée on devrait avoir a manger gratuitement ? x)</p>
            <span class="datetime">09/02/24</span>
        </div>
    </section>


    <footer class="foot-page">
        <?xml class="svg-wave" version="1.0" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#111827" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,224C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>

        <div class="about-rosa">
            <h3 class="about-title">à propos de Rosa Forum</h3>
            <p class="about-txt">Rosa Forum est un Forum de discussion réservé aux élèves de Rosa Parks, Le Forum est très contrôlé et ne laisse passer aucun délit d’harcèlement, d’injure ou de rumeurs. Tout post ne respectant pas nos conditions d’utilisations sera supprimé</p>
        </div>

        <div class="legality">
            <h3 class="legality-title">Légal</h3>
            <a href="#" class="private-policy">Politique de confidentialités</a>
            <a href="#" class="termofservice">Conditions d’utilisations</a>
            <a href="#" class="contactus">Contact</a>
        </div>

        <a href="#" class="open-source-ingit">Open Source</a>

        <p class="credits">Crédit Rosa Forum 2024-2024</p>
    </footer>

</body>
</html>