<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rosa Forum</title>
</head>
<body>
    
    <nav class="nav-bar">
        <div class="left-title-elt">
            <h1 class="left-title">RosaForum<b>*</b></h1>
            <p class="disclaimer-rosa">*Non affilié au Lycée Rosa Parks</p>
        </div>

        <div class="middle-nav-btn">
            <a href="#" class="home">Accueil</a>
            <a href="#" class="navigation-btn">Naviguez</a>
        </div>

        <div class="right-login-btn">
            <a href="#" class="login-btn">Connexion</a>
        </div>

    </nav>


    <section class="middle-welcome">
        <div class="est">
            <p class="welcome-text">Ouvrez un sujet de discussion <br>chez Rosa Forum <br><br>
                Commencez a discutez de tout, <br>faites vous des amis et profités...</p>
            
            <a href="#" class="signin-btn">Créer un compte</a>
        </div>
        
        <div class="west">
            <div class="post-bloc one-bloc">
                <div class="profil">
                    <img src="../near-tibet.png" alt="" class="auth-avatar">
                    <p class="auth-name">FleurDeMontagne225</p>
                </div>
                <p class="auth-messageContent">Salut les gars, j’ai trouvé le Bac blanc super dur pas vous ? 😕</p>
                <span class="datetime">09/02/24</span>
            </div>
            <div class="post-bloc two-bloc">
                <div class="profil">
                    <img src="../monalisa.png" alt="" class="auth-avatar">
                    <p class="auth-name">LaJoequ-onde</p>
                </div>
                <p class="auth-messageContent">Oui mais clairement ! Cette année ils n’ont pas chômé ahah 😂</p>
                <span class="datetime">09/02/24</span>
            </div>
            <div class="post-bloc three-bloc">
                <div class="profil">
                    <img src="../burger.png" alt="" class="auth-avatar">
                    <p class="auth-name">NoIdeaForAName</p>
                </div>
                <p class="auth-messageContent">Qui pense qu’au lycée on devrait avoir a manger gratuitement ? x)</p>
                <span class="datetime">09/02/24</span>
            </div>
        </div>
    </section>

    
    <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#111827" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,224C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    <div class="blank"></div>
    
    <footer class="foot-page">
        
        <div class="about-rosa">
            <h3 class="about-title">à propos de Rosa Forum</h3>
            <p class="about-txt">Rosa Forum est un Forum de discussion réservé aux élèves de Rosa Parks, Le Forum est très contrôlé et ne laisse passer aucun délit d’harcèlement, d’injure ou de rumeurs. Tout post ne respectant pas nos conditions d’utilisations sera supprimé</p>
        </div>

        <div class="legality">
            <h3 class="legality-title">Légal</h3>
            <a href="#" class="l private-policy">Politique de confidentialités</a>
            <a href="#" class="l termofservice">Conditions d’utilisations</a>
            <a href="#" class="l contactus">Contact</a>
        </div>

        <a href="https://github.com/Ruma595/rosaforum" class="open-source-ingit">Open Source</a>

        <p class="credits">Crédit Rosa Forum 2024-2024</p>
    </footer>

</body>
</html>